@model IEnumerable<DapperProject.Models.Products>
@{
    ViewBag.Title = "Microsoft Mobiles";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
@*<div class="col-md-2" style="margin-top: 100px; margin-right: 20px;">
    <div class="row" style="border:1px solid green">
        <ul><li><a href="/Home/Index?CategoryId=1">Jakets</a></li></ul>
        <table>
            <tr><td></td></tr>
            <tr><td><a href="/Home/Index?CategoryId=2">Spares</a></td></tr>
            <tr><td><a href="/Home/Index?CategoryId=3">Tyres</a></td></tr>
            <tr><td><a href="/Home/Index?CategoryId=4">Helmets</a></td></tr>
        </table>
    </div>
</div>
<div class="col-md-6" style="margin-top: 50px; margin-left: 20px;">
    <div class="row">
        @foreach (var m in Model)
            {
            <div class="col-md-5" style="margin-left: 30px;">
                <a href="@Url.Action("EachProductDetails", "Home",m)">
                    <img class="a.photo" src="~/Images/@m.Url" style="overflow: hidden; position: relative; width:150px; height:150px; cursor:pointer" />
                </a>
                <div class="row">
                    <h5><span id="mobilename" style="color:darkred">@m.ProductName</span></h5>

                </div>

            </div>
        }
    </div>
</div>*@


<div class="col-md-12" style="margin-top: 50px; margin-left: 10px; border:1px solid grey; border-radius: 25px;;">
    <h5>Jackets</h5>
    <hr />
    <div class="row">
        <div class="col-md-2" style="margin-left: 40px;">
            <a href="/Home/EachProductDetails?ProductId=7&amp;ProductName=Vega%20Crux%20CRX-B-M%20Flip-up%20Helmet%20%28Black%2C%20M%29&amp;Price=1306&amp;Url=Microsoft%20Lumia%20640%20XL%20LTE%20Dual%20SIM.jpg">
                <img class="a.photo" src="/Images/Microsoft Lumia 640 XL LTE Dual SIM.jpg" style="overflow: hidden; position: relative; width:150px; height:150px; cursor:pointer" />
            </a>
            <div class="row">
                <p><span id="mobilename" style="color:darkred">Vega Crux CRX-B-M Flip-up Helmet (Black, M)</span></p>

            </div>

        </div>
        <div class="col-md-2" style="margin-left: 40px;">
            <a href="/Home/EachProductDetails?ProductId=7&amp;ProductName=Vega%20Crux%20CRX-B-M%20Flip-up%20Helmet%20%28Black%2C%20M%29&amp;Price=1306&amp;Url=Microsoft%20Lumia%20640%20XL%20LTE%20Dual%20SIM.jpg">
                <img class="a.photo" src="/Images/Microsoft Lumia 640 XL LTE Dual SIM.jpg" style="overflow: hidden; position: relative; width:150px; height:150px; cursor:pointer" />
            </a>
            <div class="row">
                <p><span id="mobilename" style="color:darkred">Vega Crux CRX-B-M Flip-up Helmet (Black, M)</span></p>

            </div>

        </div>
        <div class="col-md-2" style="margin-left: 40px;">
            <a href="/Home/EachProductDetails?ProductId=7&amp;ProductName=Vega%20Crux%20CRX-B-M%20Flip-up%20Helmet%20%28Black%2C%20M%29&amp;Price=1306&amp;Url=Microsoft%20Lumia%20640%20XL%20LTE%20Dual%20SIM.jpg">
                <img class="a.photo" src="/Images/Microsoft Lumia 640 XL LTE Dual SIM.jpg" style="overflow: hidden; position: relative; width:150px; height:150px; cursor:pointer" />
            </a>
            <div class="row">
                <p><span id="mobilename" style="color:darkred">Vega Crux CRX-B-M Flip-up Helmet (Black, M)</span></p>

            </div>

        </div>
        <div class="col-md-2" style="margin-left: 40px;">
            <a href="/Home/EachProductDetails?ProductId=7&amp;ProductName=Vega%20Crux%20CRX-B-M%20Flip-up%20Helmet%20%28Black%2C%20M%29&amp;Price=1306&amp;Url=Microsoft%20Lumia%20640%20XL%20LTE%20Dual%20SIM.jpg">
                <img class="a.photo" src="/Images/Microsoft Lumia 640 XL LTE Dual SIM.jpg" style="overflow: hidden; position: relative; width:150px; height:150px; cursor:pointer" />
            </a>
            <div class="row">
                <p><span id="mobilename" style="color:darkred">Vega Crux CRX-B-M Flip-up Helmet (Black, M)</span></p>

            </div>

        </div>
    </div>
</div>
<div style="clear:both"></div>
<div class="col-md-12" style="margin-top: 50px; margin-left: 10px; border:1px solid grey; border-radius: 25px;;">
    <h5>Jackets</h5>
    <hr />
    <div class="row">
        <div class="col-md-2" style="margin-left: 40px;">
            <a href="/Home/EachProductDetails?ProductId=7&amp;ProductName=Vega%20Crux%20CRX-B-M%20Flip-up%20Helmet%20%28Black%2C%20M%29&amp;Price=1306&amp;Url=Microsoft%20Lumia%20640%20XL%20LTE%20Dual%20SIM.jpg">
                <img class="a.photo" src="/Images/Microsoft Lumia 640 XL LTE Dual SIM.jpg" style="overflow: hidden; position: relative; width:150px; height:150px; cursor:pointer" />
            </a>
            <div class="row">
                <p><span id="mobilename" style="color:darkred">Vega Crux CRX-B-M Flip-up Helmet (Black, M)</span></p>

            </div>

        </div>
        <div class="col-md-2" style="margin-left: 40px;">
            <a href="/Home/EachProductDetails?ProductId=7&amp;ProductName=Vega%20Crux%20CRX-B-M%20Flip-up%20Helmet%20%28Black%2C%20M%29&amp;Price=1306&amp;Url=Microsoft%20Lumia%20640%20XL%20LTE%20Dual%20SIM.jpg">
                <img class="a.photo" src="/Images/Microsoft Lumia 640 XL LTE Dual SIM.jpg" style="overflow: hidden; position: relative; width:150px; height:150px; cursor:pointer" />
            </a>
            <div class="row">
                <p><span id="mobilename" style="color:darkred">Vega Crux CRX-B-M Flip-up Helmet (Black, M)</span></p>

            </div>

        </div>
        <div class="col-md-2" style="margin-left: 40px;">
            <a href="/Home/EachProductDetails?ProductId=7&amp;ProductName=Vega%20Crux%20CRX-B-M%20Flip-up%20Helmet%20%28Black%2C%20M%29&amp;Price=1306&amp;Url=Microsoft%20Lumia%20640%20XL%20LTE%20Dual%20SIM.jpg">
                <img class="a.photo" src="/Images/Microsoft Lumia 640 XL LTE Dual SIM.jpg" style="overflow: hidden; position: relative; width:150px; height:150px; cursor:pointer" />
            </a>
            <div class="row">
                <p><span id="mobilename" style="color:darkred">Vega Crux CRX-B-M Flip-up Helmet (Black, M)</span></p>

            </div>

        </div>
        <div class="col-md-2" style="margin-left: 40px;">
            <a href="/Home/EachProductDetails?ProductId=7&amp;ProductName=Vega%20Crux%20CRX-B-M%20Flip-up%20Helmet%20%28Black%2C%20M%29&amp;Price=1306&amp;Url=Microsoft%20Lumia%20640%20XL%20LTE%20Dual%20SIM.jpg">
                <img class="a.photo" src="/Images/Microsoft Lumia 640 XL LTE Dual SIM.jpg" style="overflow: hidden; position: relative; width:150px; height:150px; cursor:pointer" />
            </a>
            <div class="row">
                <p><span id="mobilename" style="color:darkred">Vega Crux CRX-B-M Flip-up Helmet (Black, M)</span></p>

            </div>

        </div>
    </div>
</div>
<div style="clear:both"></div>
<div class="col-md-12" style="margin-top: 50px; margin-left: 10px; border:1px solid grey; border-radius: 25px;;">
    <h5>Jackets</h5>
    <hr />
    <div class="row">
        <div class="col-md-2" style="margin-left: 40px;">
            <a href="/Home/EachProductDetails?ProductId=7&amp;ProductName=Vega%20Crux%20CRX-B-M%20Flip-up%20Helmet%20%28Black%2C%20M%29&amp;Price=1306&amp;Url=Microsoft%20Lumia%20640%20XL%20LTE%20Dual%20SIM.jpg">
                <img class="a.photo" src="/Images/Microsoft Lumia 640 XL LTE Dual SIM.jpg" style="overflow: hidden; position: relative; width:150px; height:150px; cursor:pointer" />
            </a>
            <div class="row">
                <p><span id="mobilename" style="color:darkred">Vega Crux CRX-B-M Flip-up Helmet (Black, M)</span></p>

            </div>

        </div>
        <div class="col-md-2" style="margin-left: 40px;">
            <a href="/Home/EachProductDetails?ProductId=7&amp;ProductName=Vega%20Crux%20CRX-B-M%20Flip-up%20Helmet%20%28Black%2C%20M%29&amp;Price=1306&amp;Url=Microsoft%20Lumia%20640%20XL%20LTE%20Dual%20SIM.jpg">
                <img class="a.photo" src="/Images/Microsoft Lumia 640 XL LTE Dual SIM.jpg" style="overflow: hidden; position: relative; width:150px; height:150px; cursor:pointer" />
            </a>
            <div class="row">
                <p><span id="mobilename" style="color:darkred">Vega Crux CRX-B-M Flip-up Helmet (Black, M)</span></p>

            </div>

        </div>
        <div class="col-md-2" style="margin-left: 40px;">
            <a href="/Home/EachProductDetails?ProductId=7&amp;ProductName=Vega%20Crux%20CRX-B-M%20Flip-up%20Helmet%20%28Black%2C%20M%29&amp;Price=1306&amp;Url=Microsoft%20Lumia%20640%20XL%20LTE%20Dual%20SIM.jpg">
                <img class="a.photo" src="/Images/Microsoft Lumia 640 XL LTE Dual SIM.jpg" style="overflow: hidden; position: relative; width:150px; height:150px; cursor:pointer" />
            </a>
            <div class="row">
                <p><span id="mobilename" style="color:darkred">Vega Crux CRX-B-M Flip-up Helmet (Black, M)</span></p>

            </div>

        </div>
        <div class="col-md-2" style="margin-left: 40px;">
            <a href="/Home/EachProductDetails?ProductId=7&amp;ProductName=Vega%20Crux%20CRX-B-M%20Flip-up%20Helmet%20%28Black%2C%20M%29&amp;Price=1306&amp;Url=Microsoft%20Lumia%20640%20XL%20LTE%20Dual%20SIM.jpg">
                <img class="a.photo" src="/Images/Microsoft Lumia 640 XL LTE Dual SIM.jpg" style="overflow: hidden; position: relative; width:150px; height:150px; cursor:pointer" />
            </a>
            <div class="row">
                <p><span id="mobilename" style="color:darkred">Vega Crux CRX-B-M Flip-up Helmet (Black, M)</span></p>

            </div>

        </div>
    </div>
</div>
<div style="clear:both"></div>
<div class="col-md-12" style="margin-top: 50px; margin-left: 10px; border:1px solid grey; border-radius: 25px;;">
    <h5>Jackets</h5>
    <hr />
    <div class="row">
        <div class="col-md-2" style="margin-left: 40px;">
            <a href="/Home/EachProductDetails?ProductId=7&amp;ProductName=Vega%20Crux%20CRX-B-M%20Flip-up%20Helmet%20%28Black%2C%20M%29&amp;Price=1306&amp;Url=Microsoft%20Lumia%20640%20XL%20LTE%20Dual%20SIM.jpg">
                <img class="a.photo" src="/Images/Microsoft Lumia 640 XL LTE Dual SIM.jpg" style="overflow: hidden; position: relative; width:150px; height:150px; cursor:pointer" />
            </a>
            <div class="row">
                <p><span id="mobilename" style="color:darkred">Vega Crux CRX-B-M Flip-up Helmet (Black, M)</span></p>

            </div>

        </div>
        <div class="col-md-2" style="margin-left: 40px;">
            <a href="/Home/EachProductDetails?ProductId=7&amp;ProductName=Vega%20Crux%20CRX-B-M%20Flip-up%20Helmet%20%28Black%2C%20M%29&amp;Price=1306&amp;Url=Microsoft%20Lumia%20640%20XL%20LTE%20Dual%20SIM.jpg">
                <img class="a.photo" src="/Images/Microsoft Lumia 640 XL LTE Dual SIM.jpg" style="overflow: hidden; position: relative; width:150px; height:150px; cursor:pointer" />
            </a>
            <div class="row">
                <p><span id="mobilename" style="color:darkred">Vega Crux CRX-B-M Flip-up Helmet (Black, M)</span></p>

            </div>

        </div>
        <div class="col-md-2" style="margin-left: 40px;">
            <a href="/Home/EachProductDetails?ProductId=7&amp;ProductName=Vega%20Crux%20CRX-B-M%20Flip-up%20Helmet%20%28Black%2C%20M%29&amp;Price=1306&amp;Url=Microsoft%20Lumia%20640%20XL%20LTE%20Dual%20SIM.jpg">
                <img class="a.photo" src="/Images/Microsoft Lumia 640 XL LTE Dual SIM.jpg" style="overflow: hidden; position: relative; width:150px; height:150px; cursor:pointer" />
            </a>
            <div class="row">
                <p><span id="mobilename" style="color:darkred">Vega Crux CRX-B-M Flip-up Helmet (Black, M)</span></p>

            </div>

        </div>
        <div class="col-md-2" style="margin-left: 40px;">
            <a href="/Home/EachProductDetails?ProductId=7&amp;ProductName=Vega%20Crux%20CRX-B-M%20Flip-up%20Helmet%20%28Black%2C%20M%29&amp;Price=1306&amp;Url=Microsoft%20Lumia%20640%20XL%20LTE%20Dual%20SIM.jpg">
                <img class="a.photo" src="/Images/Microsoft Lumia 640 XL LTE Dual SIM.jpg" style="overflow: hidden; position: relative; width:150px; height:150px; cursor:pointer" />
            </a>
            <div class="row">
                <p><span id="mobilename" style="color:darkred">Vega Crux CRX-B-M Flip-up Helmet (Black, M)</span></p>

            </div>

        </div>
    </div>
</div>
<div style="clear:both"></div>